@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-bgLight text-gray-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.teal-gradient {
  background: linear-gradient(135deg, #1E5A96 0%, #2E5B8D 100%);
}
